body {
  font-family: 'Roboto', sans-serif; }

a, a:visited {
  text-decoration: none;
  color: white; }

.header_wrapper {
  height: 57px; }

.menu__img {
  padding: 14px 21px;
  width: 20px; }

.menu {
  background-color: #373737;
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 105vh;
  top: 37px;
  right: 0; }
  .menu ul {
    list-style-type: none; }
    .menu ul li {
      padding: 25px;
      color: white;
      text-transform: uppercase; }

.header__menu-active {
  opacity: 0.95;
  background-color: #373737; }

.header__menu-desktop {
  display: none; }

.first_content__header {
  margin-top: 30px;
  font-size: 20px;
  text-align: center; }

.first_content__description {
  margin-top: 49px; }

.description__list {
  list-style-type: none;
  font-size: 13px;
  padding-left: 38px;
  width: 250px; }

.first {
  text-align: left; }

.first_content__tabs {
  padding-top: 26px; }

.second_content {
  background-color: #ffca06; }

.img_list {
  float: left;
  height: 20px;
  margin-right: 8px; }

.list_li {
  height: 56px; }

.img-hover, .hoverInfo {
  display: none; }

.panes {
  min-height: 78px; }

div.panes div {
  display: none;
  margin-top: 37px;
  font-size: 22px;
  background-color: #fff; }

/* root element for tabs  */
ul.tabs {
  list-style: none;
  margin: auto !important;
  padding: 0;
  height: 30px;
  width: 248px;
  border: 1px solid #e0e0e0;
  border-radius: 1px; }

/* single tab */
ul.tabs li {
  float: left;
  text-indent: 0;
  width: 124px;
  padding: 0;
  margin: 0 !important;
  list-style-image: none !important; }

/* link inside the tab. uses a background image */
ul.tabs a {
  font-size: 12px;
  display: block;
  height: 100%;
  line-height: 30px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #000;
  padding: 0px;
  margin: 0px; }

/* active tab uses a class name "current". it's highlight is also done by moving the background image. */
ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
  background-position: -652px -62px;
  cursor: default !important;
  color: #000 !important;
  background-color: #ffca06; }

#plane, #train, #city {
  display: block;
  height: auto;
  float: left;
  box-sizing: border-box;
  margin: 0;
  text-align: center; }

#plane {
  margin-left: 43px; }
  #plane img {
    width: 46px;
    height: 35px; }
  #plane .pane__procent {
    margin-left: -10px;
    margin-top: 8px !important; }

#train {
  margin-left: 55px; }
  #train img {
    width: 31px;
    height: 37px; }
  #train .pane__procent {
    margin-left: 1px;
    margin-top: 6px !important; }

#city {
  margin-left: 59px; }
  #city img {
    width: 41px;
    height: 38px; }
  #city .pane__procent {
    margin-left: 0;
    margin-top: 5px !important; }

.pane__procent {
  display: block !important; }

.small_text {
  font-size: 12px; }

.first_content__button {
  margin-top: 42px; }

.button_order {
  width: 154px;
  margin: auto; }

.button {
  text-decoration: none;
  text-align: center;
  padding: 12px 47px;
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 14px;
  color: white;
  background: #01acfb; }

.first_content__info {
  padding-top: 44px;
  font-size: 12px;
  width: 244px;
  margin: auto;
  padding-bottom: 47px; }
  .first_content__info .info__logo {
    height: 56px;
    float: left;
    margin-right: 8px; }

.second_content__header {
  text-align: center;
  padding-top: 70px;
  font-size: 20px; }

.second_content__items {
  margin-top: 45px;
  text-align: center; }
  .second_content__items img {
    width: 41px;
    height: 45px; }

.item_1 {
  margin-bottom: 51px; }
  .item_1 img {
    width: 41px;
    height: 45px; }

.item_2 {
  margin-bottom: 52px; }
  .item_2 img {
    width: 46px;
    height: 36px; }

.item_3 {
  margin-bottom: 57px; }
  .item_3 img {
    width: 33px;
    height: 43px; }

.item_4 {
  margin-bottom: 64px; }
  .item_4 img {
    width: 32px;
    height: 44px; }

.item_5 {
  margin-bottom: 55px; }
  .item_5 img {
    width: 49px;
    height: 44px; }

.item_6 img {
  width: 51px;
  height: 40px; }

.items__header {
  font-size: 16px;
  margin-top: 7px; }

.items__desription {
  font-size: 12px;
  margin-top: 5px; }

.second_content__button {
  margin-top: 78px;
  padding-bottom: 70px; }

#second_button {
  padding: 12px 41px; }

.check {
  width: 13px;
  height: 9px; }

.panes__description {
  display: none; }

.img-hover-2, .hoverInfo-2 {
  display: none; }

@media (min-width: 321px) {
  .wrapper {
    width: 1200px;
    margin: 0 auto; }
  .second_content {
    background-color: #ffca06;
    min-width: 1200px; }
  .header__menu {
    display: none; }
  .header_wrapper {
    height: 73px;
    background-color: #373737;
    min-width: 1200px; }
  .header__menu-desktop {
    display: block;
    height: 100%; }
    .header__menu-desktop ul {
      margin: 0;
      padding: 0; }
      .header__menu-desktop ul li {
        display: inline-block;
        text-transform: uppercase;
        margin-right: 21px;
        font-size: 14px; }
  .img_list {
    margin-right: 13px; }
  .points {
    margin: 3px 0px; }
  .menu-desktop {
    float: left;
    margin-top: 27px;
    margin-left: 38px; }
  .menu-desktop__image {
    height: 48px;
    width: 48px;
    float: left;
    padding-left: 41px;
    padding-top: 12px; }
  .menu-desktop__order, .menu-desktop__login {
    float: right;
    text-transform: uppercase;
    font-size: 14px;
    color: white; }
  .menu-desktop__login {
    padding: 7px 13px;
    border: 1px solid white;
    border-radius: 2px;
    margin-right: 40px;
    margin-top: 20px; }
  .menu-desktop__order {
    margin-right: 15px;
    margin-top: 28px; }
  .first_content__header {
    font-size: 30px;
    margin-top: 62px; }
  .first_content__description {
    width: 586px;
    margin: 70px auto 0px;
    font-size: 20px; }
  .description__list {
    padding-left: 0;
    width: 100%;
    font-size: 16px; }
  .check {
    width: 16px;
    height: 13px; }
  .list_li {
    height: 41px;
    position: relative; }
  .first_content__tabs {
    padding-top: 31px; }
  div.panes div {
    margin-top: 51px;
    font-size: 30px; }
  .panes__description {
    font-size: 16px;
    margin-top: 0;
    display: block; }
  #plane {
    margin-left: 226px;
    margin-right: 0; }
    #plane img {
      width: 80px;
      height: 61px; }
  #plane .pane__procent {
    margin-left: -7px;
    margin-top: 5px !important; }
  #train {
    margin-left: 213px; }
    #train img {
      width: 54px;
      height: 65px; }
  #train .pane__procent {
    margin-left: 2px;
    margin-top: 1px !important; }
  #city {
    margin-left: 236px; }
    #city img {
      width: 71px;
      height: 66px; }
  #city .pane__procent {
    margin-left: -6px;
    margin-top: 1px !important; }
  .first_content__button {
    margin-top: 105px; }
  .button_order {
    width: 205px; }
  .button {
    padding: 16px 68px;
    font-size: 16px; }
  .first_content__info {
    padding-top: 55px;
    font-size: 14px;
    width: 447px;
    margin: auto;
    padding-bottom: 70px; }
  .second_content__header {
    text-align: center;
    padding-top: 67px;
    font-size: 30px; }
  .items {
    width: 100%;
    height: 250px; }
  .item_1, .item_2, .item_3, .item_4, .item_5, .item_6 {
    display: inline-block;
    float: left;
    margin-top: 41px;
    margin-bottom: 51px; }
  .items__header {
    font-size: 21px;
    margin-top: 16px; }
  .items__desription {
    font-size: 14px;
    margin-top: 12px; }
  .item_1 {
    margin-left: 232px; }
    .item_1 img {
      width: 74px;
      height: 82px; }
  .item_2 {
    margin-left: 249px;
    margin-top: 43px; }
    .item_2 .items__header {
      margin-top: 31px; }
    .item_2 img {
      width: 84px;
      height: 64px; }
  .item_3 {
    margin-left: 249px; }
    .item_3 .items__header {
      margin-top: 20px; }
    .item_3 img {
      width: 60px;
      height: 77px; }
  .item_4 {
    margin-top: 50px;
    margin-left: 235px; }
    .item_4 .items__desription {
      position: relative; }
    .item_4 .items__header {
      margin-top: 24px; }
    .item_4 .hoverInfo-2 {
      display: none; }
    .item_4 .img-hover-2 {
      display: initial;
      position: relative;
      padding-left: 9px;
      height: auto;
      width: auto; }
    .item_4 .hoverInfo-2 {
      position: absolute;
      background-color: white;
      width: 229px;
      height: 150px;
      z-index: 2;
      font-size: 13px;
      font-family: "Roboto";
      color: #424242;
      line-height: 1.2;
      border: 1px solid white;
      border-radius: 4px;
      box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
      top: 29px;
      right: -208px;
      text-align: left; }
    .item_4 .hoverInfo__text-2 {
      margin: 14px 0px 0px 12px; }
    .item_4 .img-hover-2:hover ~ .hoverInfo-2, .item_4 .img-hover-2:hover {
      display: initial; }
    .item_4 img {
      width: 60px;
      height: 79px; }
  .item_5 {
    margin-top: 50px;
    margin-left: 236px; }
    .item_5 .items__header {
      margin-left: -42px;
      margin-top: 24px; }
    .item_5 .items__desription {
      margin-left: -42px; }
    .item_5 img {
      width: 90px;
      height: 80px; }
  .item_6 {
    margin-top: 53px;
    margin-left: 215px; }
    .item_6 .items__header {
      margin-top: 30px; }
    .item_6 img {
      width: 94px;
      height: 72px; }
  .second_content__button {
    margin-top: 93px;
    padding-bottom: 94px; }
    .second_content__button .button_order {
      width: 185px; }
      .second_content__button .button_order #second_button {
        padding: 15px 59px; }
  .hoverInfo {
    display: none; }
  .img-hover {
    display: initial;
    position: relative;
    padding-left: 20px; }
  .hoverInfo {
    position: absolute;
    background-color: white;
    width: 229px;
    height: 60px;
    z-index: 2;
    font-size: 13px;
    font-family: "Roboto";
    color: #424242;
    line-height: 1.2;
    border: 1px solid white;
    border-radius: 4px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    top: 26px;
    right: -208px; }
  .hoverInfo__text {
    margin: 17px 10px; }
  .img-hover:hover ~ .hoverInfo, .img-hover:hover {
    display: initial; } }
