$yellow:#ffca06;
$blue:#01abfb;
body
{
	font-family: 'Roboto', sans-serif;
	
}
a, a:visited{
		text-decoration:none;
		color:white;
}
.header_wrapper
{
	height: 57px;
}

.menu__img
{
padding: 14px 21px;
width:20px;
}

.menu
{
	background-color:#373737;
	z-index:3;
	position:absolute;
	width:100%;
	height:105vh;
	top: 37px ;
	right: 0;
	ul
	{
		list-style-type: none;
		li{
			padding:25px;
			color:white;
			text-transform:uppercase;
		}
	}
}
.header__menu-active
{
opacity:0.95;
background-color:#373737;
}
.header__menu-desktop
{

	display:none;
}

.first_content
{
	//height: 537px;
}
.first_content__header
{
margin-top:30px;
font-size:20px;
text-align:center;
}
.first_content__description
{
	margin-top:49px;
}
.description__list
{
	list-style-type: none;
	font-size:13px;
	padding-left:38px;
	width: 250px;
}
.first
{
	text-align:left;
}
.first_content__tabs
{
	padding-top:26px;
}
.second_content
{

	background-color:$yellow;
}
.img_list
{
	float:left;
	height:20px;
	margin-right:8px;
}
.list_li
{
	height: 56px;
}

.panes
{

min-height: 78px;
}
 

div.panes div {
	display:none;		
	margin-top:37px;
	font-size:22px;
	background-color:#fff;


}
 
/* root element for tabs  */
ul.tabs { 
	list-style:none; 
	margin:auto !important; 
	padding:0;
	height:30px;
	width:248px;
	border:1px solid #e0e0e0;	
	border-radius:1px;
	//box-sizing:border-box;
}

/* single tab */
ul.tabs li { 
	float:left;	 
	text-indent:0;
	width: 124px;
	padding:0;
	margin:0 !important;
	list-style-image:none !important; 
}

/* link inside the tab. uses a background image */
ul.tabs a { 
	
	font-size:12px;
	display:block;
	height: 100%;  
	line-height:30px;
	width: 100%;
	text-align:center;	
	text-decoration:none;
	color:#000;
	padding:0px;
	margin:0px;	
	
}



/* active tab uses a class name "current". it's highlight is also done by moving the background image. */
ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
	background-position: -652px -62px;		
	cursor:default !important; 
	color:#000 !important;
	background-color:$yellow;
}

#plane, #train, #city
{
	display:block;

	height:auto;
	float:left;
	box-sizing:border-box;
	margin:0;
	
	


text-align:center;
}
#plane{
margin-left:43px;
img
	{
width: 46px;
  height: 35px;
	}

.pane__procent{
	margin-left:-10px;
	margin-top: 8px!important;

}

}
 #train
 {
 	margin-left:55px;

 	img
	{
width: 31px;
  height: 37px;
	}
.pane__procent{
	margin-left:1px;
	margin-top: 6px!important;
}

}
 #city
 {
 	margin-left:59px;

 	img
	{
width: 41px;
  height: 38px;
	}
.pane__procent{
	margin-left:0;
	margin-top: 5px!important;
}

}
.pane__procent
{
	
	display:block!important;
		

}
.small_text
{
	font-size:12px;
}


.first_content__button
{
	margin-top:42px;
}
.button_order
{
	width: 154px;
	margin:auto;


}
.button{
 text-decoration:none; 
 text-align:center; 
 padding:12px 47px; 
 border:none; 
 -webkit-border-radius:2px;
 -moz-border-radius:2px; 
 border-radius: 2px; 
 font-size:14px;
 color:white; 
 background:#01acfb; 
 }

 .first_content__info
 {
padding-top:44px;
font-size:12px;
width: 244px;
margin:auto;
padding-bottom:47px;
.info__logo
{
	height: 56px;
	float:left;
	margin-right:8px;

 }
}
.second_content__header
{
	text-align:center;
	padding-top:70px;
	font-size: 20px;

}
.second_content__items
{
	margin-top:45px;
	text-align:center;
	img{
		width: 41px;
  height: 45px;


	}
}


.item_1 {
	margin-bottom:51px;
img
{


	width: 41px;
  height: 45px;
}
  

}

.item_2 
{
	margin-bottom:52px;
  img
	{
		width: 46px;
  		height: 36px;
	} 
}

.item_3
{
	margin-bottom:57px;
  img
	{
		width: 33px;
  		height: 43px;
	}
}
.item_4 
{
	margin-bottom:64px;
  img
	{
		width: 32px;
  		height: 44px;
	}	
}
.item_5
{
	margin-bottom:55px;
	img
	{
		width: 49px;
		height: 44px;
	}
}

.item_6
{

	img
	{
	width: 51px;
	 height: 40px;
	 }
}





.items__header
{
  font-size: 16px;
  margin-top:7px;
}
.items__desription
{
  font-size: 12px;
  margin-top:5px;
}
.second_content__button
{
	margin-top:78px;
	padding-bottom:70px;
}
#second_button
{
	padding: 12px 41px;
}
.check
{
	width: 13px;
	height: 9px;
}
.panes__description
{
	display:none;
}
@media (min-width: 321px) {

.wrapper
{
	width:1200px;
	margin: 0 auto;

}
.second_content {
    background-color: #ffca06;
    min-width: 1200px;
}
.header__menu
{
	display:none;
}

.header_wrapper{
	height:73px;
	background-color:#373737;
	min-width:1200px;
}

.header__menu-desktop
{
	display:block;

	height:100%;
	ul
	{
		margin: 0;
		padding:0;
		
		li{
		display:inline-block;
		text-transform:uppercase;
		margin-right:21px;
		font-size:14px;
	}
	}
	
}
.img_list
{
	    margin-right: 13px;
}
.points
{
	margin:3px 0px;
}
.menu-desktop {
    float: left;
    margin-top: 27px;
    margin-left: 38px;
}
.menu-desktop__image
{
	height: 48px;
	width: 48px;
	float:left;
	padding-left:41px;
	padding-top:12px;
}

.menu-desktop__order, .menu-desktop__login
{
	float:right;
	text-transform:uppercase;
	font-size:14px;
	color:white;
}

.menu-desktop__login {
    padding: 7px 13px;
    border: 1px solid white;
    border-radius: 2px;
    margin-right: 40px;
    margin-top: 20px;
}
.menu-desktop__order
{

margin-right:15px;
	margin-top: 28px;
}
.first_content__header{
	font-size:30px;
	margin-top: 62px;
}
.first_content__description{
width:565px;
margin:70px auto 0px;

    font-size: 20px;
}
.description__list {

    padding-left: 0;
    width: 100%;
    font-size: 16px;
}
.check
{
	width: 16px;
	height: 13px;
}
.list_li {
    height: 41px;
}

.first_content__tabs {
    padding-top: 31px;
}

div.panes div {

    margin-top: 51px;
    font-size: 30px;

}
.panes__description
{
	font-size: 16px;
	    margin-top: 0;
	    display:block;
}



#plane {
    margin-left: 266px;
    margin-right:0;
 
    img
	{
width: 80px;
  height: 61px;
	}
}

#plane .pane__procent {
    margin-left: -7px;
    margin-top: 5px !important;
}
 #train
 {
 	margin-left:213px;
 	img
	{
width: 54px;
  height: 65px;
	}
 	}
#train .pane__procent {
    margin-left: 2px;
    margin-top: 1px !important;
}

 	#city
{
	margin-left:236px;
	img
	{
width: 71px;
  height: 66px;
	}
}
#city .pane__procent {
    margin-left: -6px;
    margin-top: 1px !important;
}
.first_content__button {
    margin-top: 105px;
}
.button_order {
    width: 181px;
  
}
.button {

    padding: 16px 68px;

    font-size: 16px;

}
.first_content__info {
    padding-top: 55px;
    font-size: 14px;
    width: 447px;
    margin: auto;
    padding-bottom: 70px;
}
.second_content__header {
    text-align: center;
    padding-top: 67px;
    font-size: 30px;
}
.items
{
	width:100%;
	height:250px;
}
.item_1,.item_2,.item_3,.item_4,.item_5,.item_6
{
	display:inline-block;
	float:left;
	margin-top:41px;
	margin-bottom: 51px;

}
.items__header {
    font-size: 21px;
    margin-top: 16px;
}
.items__desription {
    font-size: 14px;
    margin-top: 12px;
}
.item_1 {

    

    margin-left: 273px;

img
{


	width: 74px;
  height: 82px;
}
  

}

.item_2 
{
	
	margin-left: 249px;
	    margin-top: 43px;
	    .items__header {
 
    margin-top: 31px;
}
  img
	{
		width: 84px;
  		height: 64px;
	} 
}

.item_3
{
	margin-left: 249px;
	.items__header {
 
    margin-top: 20px;
}
  img
	{
		width: 60px;
  		height: 77px;
	}
}
.item_4 
{
	margin-top: 50px;
	margin-left: 273px;
	.items__header {
 
    margin-top: 24px;
}
  img
	{
		width: 60px;
  		height: 79px;
	}	
}
.item_5
{
	margin-top: 50px;
	margin-left: 265px;
	.items__header {
 margin-left:-42px;
    margin-top: 24px;
}
.items__desription
{
	margin-left:-42px;
}
	img
	{
		width: 90px;
		height: 80px;
	}
}

.item_6
{

    margin-top: 53px;
    margin-left: 215px;

	.items__header {
 
    margin-top: 30px;
}
	img
	{
	width: 94px;
	 height: 72px;
	 }
}

.second_content__button {
    margin-top: 93px;
    padding-bottom: 94px;
    .button_order {
    width: 185px;
    #second_button {
    padding: 15px 59px;
}
}
}

}
